<div class="search-container">
    <label for="zip-rank">Filter by Rank:</label>
    <select id="zip-rank" (change)="filterZipByRanking($event)">
        <option value="">All</option>
        <option value="S">S - Elite</option>
        <option value="A">A - High</option>
        <option value="B">B - Medium</option>
        <option value="C">C - Low</option>
        <option value="D">D - Very Low</option>
    </select>
    <!-- ZIP Autocomplete Filter -->
    <label for="zip-search">Filter by ZIP code:</label>
    <input type="text" id="zip-search" list="zip-list" (input)="filterZipByZipCode($event)"
        placeholder=" Enter ZIP code" />
    <datalist id="zip-list">
        <option *ngFor="let zip of availableZipCodes" [value]="zip"></option>
    </datalist>
</div>

<div class="map-container">
    <div id="map"></div>
</div>